
<h3>Places#show</h3>
<%= link_to "Add a new place", new_account_place_path, class: "btn-medium top-right" %>
<%= link_to "Delete Place", account_place_path(@place), method: :delete %>
<%= link_to "Update Place", edit_account_place_path(@place) %>
<div class="media">
  <div class="media-body">
    <div class="media-section">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url(<%= image_path "vineyard.jpg" %>)">
        <div class="card-name">
          <h2><%= @place.name %></h2>
        </div>
        <div class="card-description">
          <h3><%= @place.address%></h3>
        </div>
        <div class="card-user avatar">
          <%= image_tag "logo.png" %>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="media-section media-section:last-child">
      <h2>Description</h2>
      <%= @place.description %>
    </div>
    <% @place_reviews.each do |review|%>
    <div class="media-section">
      <h3>Comment</h3>
      <%= review.description %>
      <h3>Ratings</h3>
      <%= review.rating %>
    </div>
    <% end %>
  </div>
  <%= link_to 'New review', new_account_place_places_review_path(@place), class: "btn btn-primary" %>
  <%= render partial: 'account/places_reviews/form', locals: {review: PlaceReview.new, place: @place} %>
  <div class="media-aside">
    <div class="media-section">
      <h2>Tarif</h2>
      <%=  %>
    </div>
    <div class="media-section">
      <h2>Calendar</h2>
      ...
    </div>
  </div>
</div>







